@import "tailwindcss";

@theme inline {
  --color-smart-blue: #14B5E3;
  --color-smart-blue-dark: #217DBE;
  --color-smart-green: #98CD61;
  --color-smart-green-dark: #75C482;
  --font-sans: var(--font-nunito);
  --font-display: var(--font-poppins);
}

body {
  min-height: 100vh;
}
